@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/OptimaNovaLTProLight.otf") format("opentype");
}

@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/OptimaNovaLTProRegular.otf") format("opentype");
}

@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/OptimaNovaLTProMedium.otf") format("opentype");
}

@font-face {
  font-family: optima;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/OptimaNovaLTProBold.otf") format("opentype");
}

@font-face {
  font-family: spoqa;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/SpoqaHanSansNeo-Light.eot");
  src: local("Noto Sans KR"), url("../fonts/SpoqaHanSansNeo-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Light.woff") format("woff"), url("../fonts/SpoqaHanSansNeo-Light.otf") format("opentype");
}

@font-face {
  font-family: spoqa;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SpoqaHanSansNeo-Regular.eot");
  src: local("Noto Sans KR"), url("../fonts/SpoqaHanSansNeo-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"), url("../fonts/SpoqaHanSansNeo-Regular.otf") format("opentype");
}

@font-face {
  font-family: spoqa;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SpoqaHanSansNeo-Medium.eot");
  src: local("Noto Sans KR"), url("../fonts/SpoqaHanSansNeo-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Medium.woff") format("woff"), url("../fonts/SpoqaHanSansNeo-Medium.otf") format("opentype");
}

@font-face {
  font-family: spoqa;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SpoqaHanSansNeo-Bold.eot");
  src: local("Noto Sans KR"), url("../fonts/SpoqaHanSansNeo-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"), url("../fonts/SpoqaHanSansNeo-Bold.woff") format("woff"), url("../fonts/SpoqaHanSansNeo-Bold.otf") format("opentype");
}

body, h1, h2, h3, h4, h5, h6, p, ul, button, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

ul {
  list-style: none;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: top;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input[type="text"] {
  border: 1px solid #aaa;
  border-radius: 0;
}

button, input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

address {
  font-style: normal;
}

header, nav, section, footer, figure {
  display: block;
}

.blind {
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: none;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: spoqa;
  color: #707070;
}

.clickm {
  cursor: url(../images/cnt2/mouse1.png), auto;
}

html {
  scroll-behavior: smooth;
}

.fade .fade_up, .fade .fade_down, .fade .fade_right, .fade .fade_left {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  -webkit-transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.fade .fade_up {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

.fade .fade_down {
  -webkit-transform: translate(0, -100px);
          transform: translate(0, -100px);
}

.fade .fade_right {
  -webkit-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
}

.fade .fade_left {
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
}

.fade.on .fade_up, .fade.on .fade_down, .fade.on .fade_right, .fade.on .fade_left {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.delay-3 {
  -webkit-transition-delay: 0.3s !important;
          transition-delay: 0.3s !important;
}

.delay-6 {
  -webkit-transition-delay: 0.6s !important;
          transition-delay: 0.6s !important;
}

.delay-9 {
  -webkit-transition-delay: 0.9s !important;
          transition-delay: 0.9s !important;
}

.delay-12 {
  -webkit-transition-delay: 1.2s !important;
          transition-delay: 1.2s !important;
}

.delay-15 {
  -webkit-transition-delay: 1.5s !important;
          transition-delay: 1.5s !important;
}

body {
  background: #F6F4F4 url(../images/background.png);
  -webkit-animation: noise 7s steps(10) infinite;
          animation: noise 7s steps(10) infinite;
}

@-webkit-keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

@keyframes noise {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: 20% 25%;
  }
  50% {
    background-position: -25% 10%;
  }
  60% {
    background-position: 15% 5%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 25% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

#dim {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 100;
}

#header .logo {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 40px;
  left: 50%;
}

#header .logo img {
  width: 50px;
}

#header .gnb ul {
  position: absolute;
  top: 40px;
  left: 60px;
}

#header .gnb ul li {
  margin-bottom: 10px;
}

#header .gnb ul a:hover, #header .gnb ul a:focus {
  color: #7D9BA8;
  font-weight: 600;
}

#header .gnb ul li.on {
  color: #7D9BA8;
  font-weight: 600;
}

#footer {
  position: relative;
  width: 100%;
  color: #707070;
  font-size: 14px;
  font-weight: 300;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 50px 200px;
}

#footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .contact .contact_left {
  text-align: center;
}

#footer .contact .contact_left .logo {
  background: url(../images/cnt1/logo.svg) no-repeat top left/cover;
  width: 67px;
  height: 63px;
  margin-bottom: 5px;
  display: inline-block;
}

#footer .contact .contact_left p {
  padding-top: 6px;
}

#footer .contact .contact_center ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
}

#footer .contact .contact_center ul li {
  margin-right: 20px;
}

#footer .contact .contact_center ul li:hover, #footer .contact .contact_center ul li:focus {
  color: #7D9BA8;
  font-weight: 400;
  border-bottom: 1px solid #7D9BA8;
}

#footer .contact .contact_right .top {
  font-size: 18px;
  color: #7D9BA8;
  font-weight: 600;
  cursor: pointer;
}

#footer .contact .contact_right .top a {
  position: relative;
  padding-right: 20px;
}

#footer .contact .contact_right .top a::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  background: url(../images/cnt5/arrow.svg) no-repeat top left/cover;
  width: 11px;
  height: 15px;
}

#footer .contact .contact_right h3 {
  font-weight: 400;
  padding: 40px 0 10px;
}

#footer .contact .contact_right .mailme {
  position: relative;
}

#footer .contact .contact_right .mailme:hover, #footer .contact .contact_right .mailme:focus {
  color: #7D9BA8;
}
/*# sourceMappingURL=common.css.map */