@charset "UTF-8";
#cnt3 {
  color: #707070;
}

#cnt3 .panel:not(#acdnPanel5) .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cnt3 #acdnPanel1 #box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 300px;
}

#cnt3 #acdnPanel1 #box * {
  height: 50px;
}

#cnt3 #acdnPanel1 #digital {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 80px;
  border: 1px solid #707070;
  width: 500px;
  font-size: 16px;
  color: #707070;
}

#cnt3 #acdnPanel1 #btn {
  width: 100px;
  border-radius: 50%;
  background: #A89C8D;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
}

#cnt3 #acdnPanel2 {
  /* txtBox */
  /* #txtBox ul li:nth-child(1){animation: txtup 10s ease 0s infinite normal none;} 생략하지 않은 경우*/
  /* 5%만큼 상단이동 후 28%는 정지상태유지 */
}

#cnt3 #acdnPanel2 #txtBox {
  width: 400px;
  text-align: center;
  line-height: 50px;
  font-weight: 900;
  font-size: 40px;
  color: #555;
}

#cnt3 #acdnPanel2 #txtBox ul {
  height: 50px;
  color: #fff;
  overflow: hidden;
}

#cnt3 #acdnPanel2 #txtBox ul li {
  margin-bottom: 50px;
}

#cnt3 #acdnPanel2 #txtBox ul li:nth-child(1) {
  -webkit-animation: txtup 10s ease  infinite;
  animation: txtup 10s ease  infinite;
}

#cnt3 #acdnPanel2 #txtBox ul li span {
  display: inline-block;
  padding: 0 15px;
}

#cnt3 #acdnPanel2 #txtBox ul li:nth-child(1) span {
  background: red;
}

#cnt3 #acdnPanel2 #txtBox ul li:nth-child(2) span {
  background: blue;
}

#cnt3 #acdnPanel2 #txtBox ul li:nth-child(3) span {
  background: green;
}

@-webkit-keyframes txtup {
  0% {
    margin-top: 100px;
  }
  5% {
    margin-top: 0px;
  }
  33% {
    margin-top: 0px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: -200px;
  }
  99% {
    margin-top: -200px;
  }
  100% {
    margin-top: -250px;
  }
}

@keyframes txtup {
  0% {
    margin-top: 100px;
  }
  5% {
    margin-top: 0px;
  }
  33% {
    margin-top: 0px;
  }
  38% {
    margin-top: -100px;
  }
  66% {
    margin-top: -100px;
  }
  71% {
    margin-top: -200px;
  }
  99% {
    margin-top: -200px;
  }
  100% {
    margin-top: -250px;
  }
}

#cnt3 #acdnPanel3 #cnt2Tab {
  width: 400px;
}

#cnt3 #acdnPanel3 #cnt2Tab > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#cnt3 #acdnPanel3 #cnt2Tab > ul li {
  width: calc(100% / 3);
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #E6F0F5;
  cursor: pointer;
}

#cnt3 #acdnPanel3 #cnt2Tab > ul li + li {
  border-left: 1px solid #000;
}

#cnt3 #acdnPanel3 #cnt2Tab > ul li.on {
  background: beige;
}

#cnt3 #acdnPanel3 #cnt2Tab .tabpanel {
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  height: 150px;
  text-align: center;
  font-size: 12px;
  background: beige;
}

#cnt3 #acdnPanel3 #cnt2Tab .tabpanel.on {
  visibility: visible;
  max-height: 1000px;
}

#cnt3 #acdnPanel4 #miniSlider {
  position: relative;
  height: 100%;
  width: 100%;
}

#cnt3 #acdnPanel4 #miniSlider .visual {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 390px;
  height: 213px;
  overflow: hidden;
}

#cnt3 #acdnPanel4 #miniSlider .visual ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3120px;
}

#cnt3 #acdnPanel4 #miniSlider .visual ul li {
  padding: 5px;
}

#cnt3 #acdnPanel4 .controller button {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 50%;
  font-size: 10px;
}

#cnt3 #acdnPanel4 #prev {
  left: 0;
}

#cnt3 #acdnPanel4 #next {
  right: 0;
}

#cnt3 #acdnPanel5 {
  /* #hor */
  /* #ver */
}

#cnt3 #acdnPanel5 .card {
  position: relative;
  -webkit-perspective: 300px;
          perspective: 300px;
  margin: 80px auto;
}

#cnt3 #acdnPanel5 .card > div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#cnt3 #acdnPanel5 .card img {
  width: 250px;
}

#cnt3 #acdnPanel5 #hor .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

#cnt3 #acdnPanel5 #hor .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#cnt3 #acdnPanel5 #hor:hover .front, #cnt3 #acdnPanel5 #hor.flip .front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

#cnt3 #acdnPanel5 #hor:hover .back, #cnt3 #acdnPanel5 #hor.flip .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

#cnt3 #acdnPanel5 #ver {
  margin-left: 250px;
}

#cnt3 #acdnPanel5 #ver .front {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

#cnt3 #acdnPanel5 #ver .back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

#cnt3 #acdnPanel5 #ver:hover .front, #cnt3 #acdnPanel5 #ver.flip .front {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

#cnt3 #acdnPanel5 #ver:hover .back, #cnt3 #acdnPanel5 #ver.flip .back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}
/*# sourceMappingURL=skill.css.map */