@charset "utf-8";
@import  "_var", "_mixin", "_funcion";

#cnt3{
    color:$gray;
    .panel:not(#acdnPanel5){
        .wrap{
            @include flex;
            @include align-items;
            @include justify-content;
        }
    }
    #acdnPanel1{
        #box{
            @include flex;
            text-align: center;width: 300px;
        }
        #box *{height: 50px;}
        #digital{
            @include flex;
            @include justify-content;
            @include align-items;
            border-radius: 80px;border: 1px solid $gray;width: 500px;font-size: 16px;color: $gray;}
            #btn{width: 100px;border-radius: 50%;background: $brwn;font-size: 13px;font-weight: 700;color: #fff;}
    }

    #acdnPanel2{
    /* txtBox */
    #txtBox{width: 400px;text-align: center;line-height: 50px;font-weight: 900;font-size: 40px;color:#555;}
    #txtBox ul{height: 50px;color: #fff;overflow: hidden;}
    #txtBox ul li{margin-bottom: 50px;}
    /* #txtBox ul li:nth-child(1){animation: txtup 10s ease 0s infinite normal none;} 생략하지 않은 경우*/
    #txtBox ul li:nth-child(1){-webkit-animation: txtup 10s ease  infinite;-moz-animation: txtup 10s ease  infinite;-o-animation: txtup 10s ease  infinite;animation: txtup 10s ease  infinite;}
    #txtBox ul li span{display: inline-block;padding: 0 15px;}
    #txtBox ul li:nth-child(1) span{background: red;}
    #txtBox ul li:nth-child(2) span{background: blue;}
    #txtBox ul li:nth-child(3) span{background: green;}

    /* 5%만큼 상단이동 후 28%는 정지상태유지 */
    @keyframes txtup {
        0%{margin-top: 100px;}
        5%{margin-top: 0px;}
        33%{margin-top: 0px;}
        38%{margin-top: -100px;}
        66%{margin-top: -100px;}
        71%{margin-top: -200px;}
        99%{margin-top: -200px;}
        100%{margin-top: -250px;}
    }    
    }

    #acdnPanel3{
        #cnt2Tab{
            width: 400px;
             > ul{
             display: flex;
             li{width: calc(100% / 3);height: 50px;line-height: 50px;text-align: center;background: $skyblue;cursor: pointer;}
             li + li{border-left: 1px solid #000;}
             li.on{background: beige;}
            }
            .tabpanel{
                visibility: hidden;max-height: 0;overflow: hidden;height: 150px;text-align: center;font-size: 12px;background: beige;
               &.on{visibility: visible;max-height: 1000px;}
            }
        }
    }

    #acdnPanel4{
        #miniSlider{
            position: relative;height: 100%;width: 100%;
            .visual{
                position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 390px;height: 213px;overflow: hidden;
                ul{
                    display: flex;width: 3120px;
                    li{padding: 5px;}
                }
            }
        }
        .controller button{
            position: absolute;top: 50%;width: 30px;height: 30px;transform: translateY(-50%);background: rgba(0,0,0,.5);color: #fff;border-radius: 50%;font-size: 10px;
            
        }
        #prev{left: 0;}
        #next{right: 0;}
    }

    #acdnPanel5{
        .card{
            position: relative;perspective: 300px;margin: 80px auto;
            & > div{position: absolute;top: 0;left: 0;transition: all 0.5s;transition : transform 1s;backface-visibility: hidden;}
            img{width: 250px;}
        }

        /* #hor */
        #hor{
            .front{transform: rotateY(0deg);}
            .back{transform: rotateY(180deg);}
            &:hover .front, &.flip .front{transform: rotateY(-180deg);}
            &:hover .back, &.flip .back{transform: rotateY(0deg);}
        }
        /* #ver */
        #ver{
            margin-left: 250px;
            .front{transform: rotateX(0deg);}
            .back{transform: rotateX(-180deg);}
            &:hover .front, &.flip .front{transform: rotateX(180deg);}
            &:hover .back, &.flip .back{transform: rotateX(0deg);}
        }
    }
}