@charset "utf-8";
@import  "_var", "_mixin", "_funcion";
body{cursor: none;}
.cursor {position: absolute;height: 20px;width: 20px;border-radius: 50%;transform: translateX(-50%) translateY(-50%);z-index: 99999;pointer-events:none;}
#cursor1{background:#EBB5BC;z-index: 999999;}
#cursor2{background: #8EABD4}

// effect 추가 
.fade .fade_up, .fade .fade_down, .fade .fade_right, .fade .fade_left{
    opacity: 0;-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;transition: all 1s;
}
.fade{
    .fade_up{transform: translate(0, 100px);}
    .fade_down{transform: translate(0, -100px);}
    .fade_right{transform: translate(-100px, 0);}
    .fade_left{transform: translate(100px, 0);}
}
.fade.on .fade_up, .fade.on .fade_down, .fade.on .fade_right, .fade.on .fade_left{opacity: 1;transform: translate(0, 0);}
.delay-3{transition-delay: 0.3s !important;}
.delay-6{transition-delay: 0.6s !important;}
.delay-9{transition-delay: 0.9s !important;}

// sticky
.sticky{position: sticky;top: 0;}

// strong
strong{padding: 50px;text-decoration: underline;font-size: 40px;}



#project1{

h3{color: $Rbrwn;font-family: optima;font-size: 30px;padding-top: 50px;}
.width1440{width: 1440px;margin: 0 auto;}


.bg{
    position: relative;overflow: hidden;
   .cover{background: url(../images/sulwhasoo/main.png) 50% 50% / cover;width: 1920px;height: 700px; transition: all 0.8s cubic-bezier(0.3, 0.1, 0.1, 1);} 
   .txt{
       @include translate-50;
       position: absolute;top: 50%;left: 50%;
       font-size: 120px;font-weight: 700;font-family: optima;  -webkit-text-stroke: 1px $Rbrwn;  -webkit-text-fill-color:transparent; transition: all 0.8s cubic-bezier(0.3, 0.1, 0.1, 1);
    }
    a:hover .txt, a:focus .txt{-webkit-text-fill-color: $Rbrwn;font-size: 110px;}
    a:hover .cover{transform: scale(1.1);}
}

.pro_intro{
    margin: 100px;text-align: center;
    h2{
        position: relative;color: $blue;font-family: optima;font-size: 50px;padding-bottom: 10px;
        &::before, &::after{content:"";position: absolute;top: 50%;background: $blue;height: 2px;width: 200px;}
        &::before{left: 20%;}
        &::after{right: 20%;}
    }
    p{padding-top: 10px;}
}

.design{
    .wrap{
        @include flex;
        @include justify-content;
        @include align-items;
    }
    .color_wrap{
        padding: 50px;
        .color{
            height: 50px;width: 50px;border-radius:50%;margin: 0 auto;
        }
        #color1{background: #F57E3C;}
        #color2{background: #FCB95E;}
        #color3{background: #FCF8F1;}
        #color4{background: #3B3B3B;}
        #color5{background: url(../images/sulwhasoo/pattern.png);}
     
    }
}
.index{
    .index_content{
        @include flex;
        width: 100%;
        > img{width: 50%;height: 1650px;}
        .index_intro{
            width: 50%;height: 100%;
            .bg{
                background: url(../images/sulwhasoo/pattern_bg.png);margin-left: 20px;text-align: center;
                strong{color:$blue;display: block;}
                #intro1, #intro2, #intro3, #intro4{margin-bottom: 40px;}
                p{padding-top: 20px;}
                #intro1{
                  margin-top: 50px;
                  img{text-align: center;}
                }
                #intro2{
                    img{width: 15%;padding: 5px;}

                }
                #intro4{
                    img{width: 30%;}
                }
            }
            
        }
    }
}

.Flagship{
    margin-bottom: 100px;
    .flag_wrap{
        @include flex;
        width: 100%;
        img{width: 50%;}
        .sticky{top: 100px;}
        .flag_txt{
           width: 50%;margin-left: 20px;
           p{text-align: center;background: url(../images/sulwhasoo/pattern_bg.png);padding: 30px;} 
        }
    }
    
    
}

}

.Responsive{
    position: relative;width: 100%;height: 600px;
    .pc_wrap{
        .pc{
            @include flex;
            @include justify-content;
            @include align-items;
            position:relative;
            div{position:absolute;top: 17px;left: 512px;width: 418px;height: 212px;overflow: hidden;}
            &:hover .scroll{animation: scroll 13s ease infinite;}
            @keyframes scroll {
                0%{margin-top: 0;}
                50%{margin-top: -1090px;}
                100%{margin-top: 0}
            }
            &:hover .scroll_s{animation: scroll_s 10s ease infinite;}
            @keyframes scroll_s {
                0%{margin-top: 0;}
                50%{margin-top: -690px;}
                100%{margin-top: 0}
            }

            &:hover p{opacity: 0;}
            p{position: absolute;top: 0;left: 35%;padding-top: 18px;font-size: 11px;text-align: center;background: rgba(235, 203, 192, .9);width: 70px;height: 70px;border-radius: 50%;color:$Rbrwn;opacity: 1;transition: opacity 0.5s;}
        }
    }
    .responsive_wrap{
        img:nth-child(1){position: absolute;top: 38%;left: 10%;}
        img:nth-child(2){position: absolute;top: 47%;right: 19%;}
        img:nth-child(3){position: absolute;top: 59%;right: 27%;}
    }
    p{position: absolute;bottom: 0;right: 0;}
    
}

#project2{

    h3{color: $blue;font-family: optima;font-size: 30px;padding: 50px 0;}
    .width1440{width: 1440px;margin: 0 auto;}
    
    
    .bg{
        position: relative;overflow: hidden;
       .cover{background: url(../images/nespresso/bg.jpg) left top / cover;width: 1920px;height: 700px; transition: all 0.8s cubic-bezier(0.3, 0.1, 0.1, 1);} 
       .txt{
           @include translate-50;
           position: absolute;top: 50%;left: 50%;
           font-size: 120px;font-weight: 700;font-family: optima;  -webkit-text-stroke: 1px $blue;  -webkit-text-fill-color:transparent; transition: all 0.8s cubic-bezier(0.3, 0.1, 0.1, 1);
        }
        a:hover .txt, a:focus .txt{-webkit-text-fill-color: $blue;font-size: 110px;}
        a:hover .cover{transform: scale(1.1);}
    }
    
    .pro_intro{
        margin: 100px;text-align: center;
        h2{
            position: relative;color: $Rbrwn;font-family: optima;font-size: 50px;padding-bottom: 10px;
            &::before, &::after{content:"";position: absolute;top: 50%;background: $Rbrwn;height: 2px;width: 180px;}
            &::before{left: 20%;}
            &::after{right: 20%;}
        }
        p{padding-top: 10px;}
    }
    
    .design{
        padding-top: 50px;
        .wrap{
            @include flex;
            @include justify-content;
            @include align-items;
        }
        .color_wrap{
            padding: 50px;
            .color{
                height: 50px;width: 50px;border-radius:50%;margin: 0 auto;
            }
            #color1{background: #AAB3AB;}
            #color2{background: #68787A;}
            #color3{background: #DDD0C1;}
            #color4{background: #918270;}
            #color5{background: #7D7D7D;}
         
        }
    }

    .index{
        margin-bottom: 100px;
        .index_content{
            @include flex;
            width: 100%;
            >img{width: 50%;}
        }
        .index_intro{
            .bg{
                background: #f5f3f0;margin-left: 20px;text-align: center;
                strong{color:$Rbrwn;display: block;margin-bottom: 10px;}
                #intro1, #intro2, #intro3, #intro4, #intro5, #intro6{margin-bottom: 40px;}
                p{padding-top: 20px;}
                #intro1{
                    position: relative;margin-top: 50px;
                    img{
                      text-align: center;width: 50%;
                      &:nth-of-type(2){
                          position: absolute;top: 190px;left: 350px;width: 150px;animation: circle_text 30s infinite linear;
                        }
                        @keyframes circle_text {
                            0% {transform: rotate(0deg);}
                            100% {transform: rotate(360deg);}
                          }
                    }
                }
                #intro2{
                    position: relative;
                    img{position: absolute;top: 150px;left: 340px;}
                    p{padding-top: 50px;}
                }

                #intro5{
                    position: relative;
                    img{
                        padding: 0 60px;
                        &:nth-child(3){
                            @include translate-50;
                            position: absolute;top: 50%;left: 50%;
                        }

                    }
                }
            }
        }
    }
    
}